<%- include ("partials/header", {title: "About"}) %>
<body>
	<%- include('partials/navbar', {page_name: "about"}) %>
	<div class="container py-3">
		<div class="d-flex justify-content-center">
			<div class="card rounded" style="max-width: 700px">
				<div class="card-header bg-light p-3">
					<h5 class="card-title text-center mb-0" style="color: #0d47a1">
						About App
					</h5>
				</div>
				<div class="card-body p-2">
					<p class="card-text">
						This app displays written articles on Bootstrap cards. It uses the
						MongoDB, Express, Ejs & Node.js (MEEN) stack to allow the user to
						perform Create, Read, Update and Delete (CRUD) operations. The footer includes links to these stack technologies. The source code can be found in this
						<a
							href="https://github.com/AndrewJBateman/meen-stack-articles"
							target="_blank"
							rel="noopener noreferrer"
							class="badge badge-dark"
							>Github</a
						>
						profile.
					</p>
					<p class="card-text">
						Markup can be used in the article body text. This
						<a
							href="https://www.markdownguide.org/cheat-sheet/#basic-syntax"
							target="_blank"
							rel="noopener noreferrer"
							class="badge badge-dark"
							>Markdown Cheat Sheet</a
						> from the <a
						href="https://www.markdownguide.org/"
						target="_blank"
						rel="noopener noreferrer"
						class="badge badge-dark"
						>Markdown Guide</a
					> gives an overview of the Markdown syntax.
					</p>
					<p class="card-text">
						The 'Articles' page displays a responsive grid of article cards with
						the title and summary. The total number of articles is shown at the
						top and is derived from the backend array length. From each card
						footer the user can see the date the article was created and can
						view/edit or delete it.
					</p>
					<p class="card-text">
						The 'New' page allows the user to create a new article and save it
						in the backend database. If the user presses cancel they are
						redirected back to the Articles page.
					</p>
					<p class="card-text">
						The 'Contact' page displays data about the app author in a Bootstrap
						card. Data is fetched from the Github API using the npm module
						node-fetch. The card footer includes links to the author website, a
						contact card and Github profile.
					</p>
				</div>
				<div class="d-flex justify-content-around bg-light">
					<div class="px-1 py-3">
						<a
							href="https://www.mongodb.com/"
							target="_blank"
							rel="noopener noreferrer"
							class="btn btn-sm btn-outline-danger p-1"
							style="width: 65px; font-size: 12px;"
							><span style="color: #343A40;">MongoDB</span></a
						>
					</div>
					<div class="px-1 py-3">
						<a
							href="https://expressjs.com/"
							target="_blank"
							rel="noopener noreferrer"
							class="btn btn-sm btn-outline-success p-1"
							style="width: 65px;"
							><span style="color: #343A40;">Express</span></a
						>
					</div>
					<div class="px-1 py-3">
						<a
							href="https://ejs.co/"
							target="_blank"
							rel="noopener noreferrer"
							class="btn btn-sm btn-outline-primary p-1"
							style="width: 65px;"
							><span style="color: #343A40;">Ejs</span></a
						>
					</div>
					<div class="px-1 py-3">
						<a
							href="https://nodejs.org/en/"
							target="_blank"
							rel="noopener noreferrer"
							class="btn btn-sm btn-outline-warning p-1"
							style="width: 65px;"
							><span style="color: #343A40;">Node</span></a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<%- include ("partials/footer") %>
