<%- include ("partials/header", {title: "Contact"}) %>
<body>
	<%- include('partials/navbar', {page_name: "contact"}) %>

	<div class="container"><p>contact test</p></div>
</body>

<%- include ("partials/footer") %>
