<%- include ("partials/header", {title: "New"}) %>
<body>
	<%- include('partials/navbar', {page_name: "new"}) %>
	<div class="container pt-2">
		<form action="/articles" method="POST">
			<%- include ("partials/fields", { maxTitleLength, maxMarkdownLength, maxSummaryLength }) %>
		</form>
	</div>
</body>
<%- include ("partials/footer") %>
