<%- include ("partials/header", {title: "New"}) %>
<body>
	<%- include('partials/navbar', {page_name: "new"}) %>
	<div class="container py-3">
		<div class="card rounded" style="max-width: 1000px">
			<div class="card-header bg-light p-3">
				<h5 class="card-title text-center mb-0" style="color: #0d47a1">
					Create An Article
				</h5>
			</div>
			<div class="card-body p-3">
				<form action="/articles" method="POST">
					<%- include ("partials/fields", { maxTitleLength, maxMarkdownLength,
					maxSummaryLength }) %>
				</form>
			</div>
			<div class="card-footer d-flex justify-content-around">
				<div class="p-3">
					<a href="/" class="btn btn-sm btn-danger" style="width: 80px"
						><span style="color: fff">Cancel</span></a
					>
				</div>
				<div class="p-3">
					<button type="submit" class="btn btn-sm btn-dark" style="width: 80px">
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
<%- include ("partials/footer") %>
