<div class="d-flex align-items-center">
	<img src="/images/event_note-24px.svg" class="mr-1" />
	<%= article.createdAt.toLocaleString("en-GB", { year: 'numeric', month:
	'long', day: 'numeric' }) %>
</div>
