<div class="form-group">
	<label for="title">Title</label>
	<input
		required
		value="<%= article.title %>"
		type="text"
		name="title"
		id="title"
		class="form-control"
	/>
</div>
<div class="form-group">
	<label for="imageUrl">Image Url</label>
	<input
		required
		value="<%= article.imageUrl %>"
		type="text"
		name="imageUrl"
		id="imageUrl"
		class="form-control"
	/>
</div>
<div class="form-group">
	<label for="summary">Summary (max. )</label>
	<textarea
		required
		name="summary"
		id="summary"
		class="form-control"
		placeholder="Type summary (max. 400 characters)"
		rows="4"
		aria-label="Enter article summary"
	>
    <%= article.summary %>
  </textarea>
</div>
<div class="form-group">
	<label for="markdown">Article Body</label>
	<textarea required name="markdown" id="markdown" class="form-control" placeholder="Type summary (max. 2000 characters)"
	rows="4"
	aria-label="Enter article main body">
    <%= article.markdown %>
  </textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
