<div class="form-group">
	<label for="title">Title</label>
	<input
		required
		value="<%= article.title %>"
		type="text"
		name="title"
		id="title"
		class="form-control"
	/>
</div>
<div class="form-group">
	<label for="imageUrl">Image Url</label>
	<input
		required
		value="<%= article.imageUrl %>"
		type="text"
		name="imageUrl"
		id="imageUrl"
		class="form-control"
	/>
</div>
<div class="form-group">
	<label for="summary">Summary</label>
	<textarea name="summary" id="summary" class="form-control">
    <%= article.summary %>
  </textarea>
</div>
<div class="form-group">
	<label for="markdown">Markdown</label>
	<textarea required name="markdown" id="markdown" class="form-control">
    <%= article.markdown %>
  </textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
