<ul class="nav nav-tabs nav-justified">
	<li class="nav-item">
		<a class="nav-link active" href="/">Articles</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/articles/new"
			>Create</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/articles/about">About</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/articles/contact">Contact</a>
	</li>
</ul>
